@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

::-webkit-scrollbar {
    width: 15px;
    height: 10px;
    /*display: none;*/
}

::-webkit-scrollbar-thumb {
    background: #CC3C3C;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: #263238;
    border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
    background: #FF4C4C; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 1000px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
    z-index: 1000;
    transition: 0.6s;
}

header.sticky {
    padding: 5px 100px;
    background: #FFF;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

header .logo img {
    width: 80px;
    height: auto;
    transition: 0.6s;
    align-content: center;
    padding: 0px;
    margin: 0px;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #FFF;
    letter-spacing: 2px;
    font-weight: 300;
    transition: 0.6s;
}

header.sticky ul li a {
    color: #000;
}

header ul li a.active,
header ul li a:hover {
    color: #304FFE;
    font-weight: bold;
}

.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: url(images/pexels.jpg);
    background-size: cover;
    display: flex;
    /*justify-content: center;*/
    align-items: center;
}

.banner h2 {
    color: #FFF;
    font-size: 90px;
    text-transform: uppercase;
    text-align: left;
    line-height: 1em;
    margin: -150px 50px 50px 50px;
}

.banner h2 span {
    color: #4978FF;
}

.sec {
    background: #FFF;
    padding: 100px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec .content {
    position: relative;
    text-align: center;
    width: 100%;
}

.mxw800p {
    max-width: 800px;
    margin: 0 auto;
}

h3 {
    font-size: 40px;
    font-weight: 200;
    margin-bottom: 10px;
}

p {
    position: relative;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.btn {
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    background: #000;
    text-decoration: none;
    color: #FFF;
}

.services {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 30px;
    max-width: 100%;
    margin-top: 40px;
}

.services .box {
    width: 350px;
    margin: 0 auto;
    background: #FFF;
    padding: 20px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.05);
}

.services .box .iconBx {
    margin-top: 25px;
}

.services .box .iconBx img {
    max-width: 70px;
    margin-bottom: 15px;
}

.services .box h2 {
    font-size: 18px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 700;
}

.stats {
    background: #000;
    padding-top: 350px;
    margin-top: -400px;
}

.stats h3,
.stats p {
    color: #FFF;
}

.statsBox {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    max-width: 100%;
    margin-top: 40px;
}

.statsBox h2 {
    color: #FFF;
    font-size: 36px;
}

.statsBox h4 {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.workBx {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
    max-width: 100%;
    margin-top: 40px;
}

.workBx .brand {
    position: relative;
    background: #4978FF;
    min-height: 300px;
    width: 250px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.workBx .brand:hover {
    background: #000;
}

.workBx .brand a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.4);
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
}

.workBx .brand:hover a {
    color: rgba(255, 255, 255, 1);
}

.teamBx {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
    max-width: 100%;
    margin-top: 40px;
}

.teamBx .member {
    position: relative;
    background: #000;
    min-height: 300px;
    width: 250px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.teamBx .member .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.teamBx .member .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.teamBx .member .details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    transition: 0.2s;
    opacity: 0;
}

.teamBx .member:hover .details {
    opacity: 1;
}

.teamBx .member .details h2 {
    color: #FFF;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1px;
}

.teamBx .member .details h2 span {
    display: block;
    font-size: 12px;
    font-weight: 300;
}

.contentForm {
    position: relative;
    text-align: center;
    width: 1000px;
}

.contact {
    background-image: radial-gradient( circle farthest-corner at 10% 20%, #9279cf 0%, #07889a 90% );
    border-radius: 50px;
    min-height: 80vh;
    margin: 20px;
}

.contactForm {
    position: relative;
    display: grid;
}

.contact h3,
.contact p {
    color: #FFF;
}

.formBox {
    position: relative;
    width: 100%;
}

.formBox .row50 {
    display: flex;
    gap: 20px;
}

.inputBox {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 50%;
}

.formBox .row100 .inputBox {
    width: 100%;
}

.inputBox span {
    color: #FFF;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;
    text-align: left;
    padding-left: 15px;
}

.inputBox input {
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 0px solid #FFF;
    background: #FFFFFF40;
    border-radius: 10px;
}

.inputBox textarea {
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 0px solid #FFF;
    resize: none;
    min-height: 220px;
    margin-bottom: 10px;
    background: #FFFFFF40;
    border-radius: 10px;
}

.inputBox input[type="submit"] {
    background: #00C853;
    color: #FFF;
    border: none;
    font-size: 1.1em;
    width: 200px;
    font-weight: 500;
    cursor: pointer;
    padding: 14px 15px;
    border-radius: 10px;
}

.inputBox input:hover[type="submit"] {
    background: #64DD17;
}

.inputBox ::placeholder {
    color: #999;
}

@media (max-width: 992px) {
    .toggle {
        display: block;
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;;
    }
    .toggle:before {
        content: '';
        position: absolute;
        top: 4px;
        width: 100%;
        height: 2px;
        background: #000;
        z-index: 1;
        box-shadow: 0 10px 0 #000;
        transition: 0.5s;
    }
    .toggle:after {
        content: '';
        position: absolute;
        bottom: 4px;
        width: 100%;
        height: 2px;
        background: #000;
        z-index: 1;
        transition: 0.5s;
    }

    header,
    header.sticky {
        padding: 5px 50px;
        background: #FFF;
    }

    header ul {
        position: absolute;
        top: 59px;
        left: 0;
        width: 100%;
        height: 100vh;
        text-align: center;
        overflow: auto;
        background: #FFF;
        visibility: hidden;
        opacity: 0;
    }

    header.active ul {
        visibility: visible;
        opacity: 1;
        display: block;
        padding-top: 20px;
    }

    header.active ul li a {
        display: inline-block;
        margin: 20px 0;
        font-size: 30px;
    }

    header ul li a {
        color:#000
    }

    .banner {
        background-position: center;
    }

    .banner h2 {
        font-size: 60px;
        padding: 0 50px;
    }

    .sec {
        padding: 100px 50px 50px 50px;
    }

    .services .box {
        width: 100%;
    }

    .stats {
        padding-top: 350px;
    }

    h3 {
        font-size: 36px;
    }

    ::-webkit-scrollbar {
        display: none;
    }
}

@media (max-width: 750px) {
    .contactForm .row100 {
        flex-direction: column;
    }

    .contactForm .row50 {
        display: flex;
        gap: 0;
        flex-direction: column;
    }

    .contactForm .inputBox {
        width: 100%;
    }
}